<config>
    <modules>
        <Kv_Krushal>
            <version>1.0.0</version>
        </Kv_Krushal>
    </modules>
    <!-- <frontend>
        <routers>
            <inchoo_blog>
                <use>standard</use>
                <args>
                    <module>Kv_Krushal</module>
                    <frontName>krushal</frontName>
                </args>
            </inchoo_blog>
        </routers>
    </frontend> -->
    <global>
        <models>
            <kv_krushal>
                <class>Kv_Krushal_Model</class>
                <resourceModel>kv_krushal_resource</resourceModel>
            </kv_krushal>
        </models>
        <helpers>
            <krushal>
                <class>Kv_Krushal_Helper</class>
            </krushal>
        </helpers>
        <blocks>
            <kv_krushal>
                <class>Kv_Krushal_Block</class>
            </kv_krushal>
        </blocks>
        <resources>
             <kv_krushal_setup>
                <setup>
                    <module>Kv_Krushal </module>
                    <class>Kv_Krushal_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kv_krushal_setup>
            <krushal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </krushal_write>
            <krushal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </krushal_read>
             <kv_krushal_setup>
                <setup>
                    <module>Kv_Krushal</module>
                    <class>Kv_Krushal_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kv_krushal_setup>
        </resources>
    </global>
    <kv_krushal_resource>
                <class>Kv_Krushal_Model_Resource</class>
                <entities>
                    <krushal_entity>
                        <table>kv_krushal_krushal_entity</table>
                    </krushal_entity>
                    <krushal_entity_datetime>
                        <table>kv_krushal_krushal_entity_datetime</table>
                    </krushal_entity_datetime>
                    <krushal_entity_decimal>
                        <table>kv_krushal_krushal_entity_decimal</table>
                    </krushal_entity_decimal>
                    <krushal_entity_int>
                        <table>kv_krushal_krushal_entity_int</table>
                    </krushal_entity_int>
                    <krushal_entity_text>
                        <table>kv_krushal_krushal_entity_text</table>
                    </krushal_entity_text>
                    <krushal_entity_varchar>
                        <table>kv_krushal_krushal_entity_varchar</table>
                    </krushal_entity_varchar>
                    <krushal_entity_char>
                        <table>kv_krushal_krushal_entity_char</table>
                    </krushal_entity_char>
                </entities>
            </kv_krushal_resource>
            <admin>
                <routers>
                    <krushal>
                        <use>admin</use>
                        <args>
                            <module>Kv_Krushal</module>
                            <frontName>krushal</frontName>
                        </args>
                    </krushal>
                </routers>
            </admin>
</config>