<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Ccc_Krushal>
			<version>0.0.3</version>
		</Ccc_Krushal>
	</modules>
	<global>
		<blocks>
			<krushal>
				<class>Ccc_Krushal_Block</class>
			</krushal>
		</blocks>
		<helpers>
			<krushal>
				<class>Ccc_Krushal_Helper</class>
			</krushal>
		</helpers>
		<models>
			<krushal>
				<class>Ccc_Krushal_Model</class>
				<resourceModel>krushal_resource</resourceModel>
			</krushal>
			<krushal_resource>
				<class>Ccc_Krushal_Model_Resource</class>
				<entities>
	                <krushal>
	                    <table>krushal</table>
	                </krushal>
	                <krushal_datetime>
	                	<table>krushal_datetime</table>
		            </krushal_datetime>
		            <krushal_decimal>
		                <table>krushal_decimal</table>
		            </krushal_decimal>
		            <krushal_int>
		                <table>krushal_int</table>
		            </krushal_int>
		            <krushal_text>
		                <table>krushal_text</table>
		            </krushal_text>
		            <krushal_varchar>
		                <table>krushal_varchar</table>
		            </krushal_varchar>
		            <krushal_char>
		                <table>krushal_char</table>
		            </krushal_char>
		            <eav_attribute>
                        <table>krushal_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</krushal_resource>
		</models>
		<resources>
			<krushal_setup>
				<setup>
					<module>Ccc_Krushal</module>
					<class>Ccc_Krushal_Model_Resource_Setup</class>
				</setup>
			</krushal_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<krushal>
				<title>Krushal</title>
				<sort_order>120</sort_order>
				<children>
					<krushal>
						<title>Manage Krushal</title>
						<sort_order>100</sort_order>
						<action>krushal/Adminhtml_Krushal</action>
					</krushal>
					<krushal_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>krushal/Adminhtml_Krushal_Attribute</action>
					</krushal_attribute>
					<krushal_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>krushal/Adminhtml_Krushal_Set</action>
					</krushal_set>
				</children>
			</krushal>
		</menu>
		<layout>
			<updates>
				<krushal>
					<file>krushal.xml</file>
				</krushal>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<krushal>
				<use>admin</use>
				<args>
					<module>Ccc_Krushal</module>
					<frontName>krushal</frontName>
				</args>
			</krushal>
		</routers>
	</admin>
</config>