<config>
    <modules>
        <Kv_Idx>    
            <version>0.1.0</version>
        </Kv_Idx>
    </modules>
    <frontend>
        <layout>
            <updates>
                <idx module="Kv_idx">
                    <file>idx.xml</file>
                </idx>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <idx>
                <class>Kv_Idx_Model</class>
                <resourceModel>idx_resource</resourceModel>
            </idx>
            <idx_resource>
                <class>Kv_Idx_Model_Resource</class>
                <deprecatedNode>idx_mysql4</deprecatedNode>
                <table>import_product_idx</table>
                <entities>
                    <idx>
                        <table>import_product_idx</table>
                    </idx>
                </entities>
            </idx_resource>
        </models>
        <resources>
            <idx_setup>
                <setup>
                    <module>Kv_Idx</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </idx_setup>
            <idx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </idx_write>
            <idx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </idx_read>
        </resources>
        <blocks>
            <idx>
                <class>Kv_Idx_Block</class>
            </idx>
        </blocks>
        <helpers>
           <idx>
                  <class>Kv_Idx_Helper</class>
            </idx>
        </helpers>
    </global>
    <admin>
        <routers>
            <idx>
                <use>admin</use>
                <args>
                    <module>Kv_Idx</module>
                    <frontName>idx</frontName>
                </args>
            </idx>
        </routers>
         <layout>
            <updates>
                <idx>
                    <file>idx.xml</file>
                </idx>
            </updates>
        </layout>
    </admin>
</config>