<?xml version="1.0" ?>
<config>
	<modules>
		<Ccc_Product>
			<version>0.1.0</version>
		</Ccc_Product>
	</modules>
	<frontend>
		<routers>
			<Ccc_Product>
				<use>stadard</use>
				<args>
					<module>Ccc_Product</module>
					<frontName>model-product</frontName>
				</args>
			</Ccc_Product>
		</routers>
	</frontend>
</config>