<config>
	<modules>
		<Ccc_Product>	
			<version>1.0.0</version>
		</Ccc_Product>
	</modules>
	<frontend>
		<routers>
			<Product>
				<use>standard</use>
				<args>
					<module>Ccc_Product</module>
					<frontName>Product</frontName>
				</args>
			</Product>
		</routers>
		<layout>
			<updates>
				<Product module="Ccc_Product">
					<file>Ccc_Product.xml</file>
				</Product>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<Product>
				<class>Ccc_Product_Block</class>				
			</Product>
		</blocks>
	</global>
</config>
