<config>
    <modules>
        <Kv_Banner>    
            <version>0.1.0</version>
        </Kv_Banner>
    </modules>
    <frontend>
        <layout>
            <updates>
                <banner module="Kv_banner">
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <banner>
                <class>Kv_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <group>
                <class>Kv_Group_Model_Group</class>
                <resourceModel>group_resource</resourceModel>
            </group>
            <banner_resource>
                <class>Kv_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>banner</table>
                    </banner>
                    <group>
                        <table>banner_group</table>
                    </group>
                </entities>
            </banner_resource>
            <!-- <group_resource>
                <class>Kv_Banner_Model_Resource</class>
                <entities>
                    <group>
                        <table>banner_group</table>
                        <collection>Kv_Banner_Model_Resource_Group_Collection</collection>
                    </group>
                </entities>
            </group_resource> -->
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Kv_Banner</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
        </resources>
        <blocks>
            <banner>
                <class>Kv_Banner_Block</class>
            </banner>
        </blocks>
        <helpers>
           <banner>
                  <class>Kv_Banner_Helper</class>
            </banner>
            <group>
                  <class>Kv_Banner_Helper</class>
            </group>
        </helpers>
    </global>
    <admin>
        <routers>
            <banner>
                <use>admin</use>
                <args>
                    <module>Kv_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </banner>
        </routers>
         <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </admin>
</config>