<config>
    <modules>
        <Kv_Collection>    
            <version>0.1.0</version>
        </Kv_Collection>
    </modules>
    <frontend>
        <layout>
            <updates>
                <collection module="Kv_collection">
                    <file>collection.xml</file>
                </collection>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <collection>
                <class>Kv_Collection_Model</class>
                <resourceModel>collection_resource</resourceModel>
            </collection>
            <collection_resource>
                <class>Kv_Collection_Model_Resource</class>
                <deprecatedNode>collection_mysql4</deprecatedNode>
                <entities>
                    <collection>
                        <table>collection</table>
                    </collection>
                </entities>
            </collection_resource>
        </models>
        <resources>
            <collection_setup>
                <setup>
                    <module>Kv_Collection</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </collection_setup>
            <collection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </collection_write>
            <collection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </collection_read>
        </resources>
        <blocks>
            <collection>
                <class>Kv_Collection_Block</class>
            </collection>
        </blocks>
        <helpers>
           <collection>
                  <class>Kv_Collection_Helper</class>
            </collection>
        </helpers>
    </global>
    <admin>
        <routers>
            <collection>
                <use>admin</use>
                <args>
                    <module>Kv_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </collection>
        </routers>
         <layout>
            <updates>
                <collection>
                    <file>collection.xml</file>
                </collection>
            </updates>
        </layout>
    </admin>
</config>