<config>
    <modules>
        <Kv_Brand>    
            <version>0.1.1</version>
        </Kv_Brand>
    </modules>
    <frontend>
        <layout>
            <updates>
                <brand module="Kv_brand">
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <brand>
                <class>Kv_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Kv_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>Kv_Brand</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>Kv_Brand_Block</class>
            </brand>
             <!-- <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Kv_Brand_Block_Adminhtml_Brand_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
           <brand>
                  <class>Kv_Brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <routers>
            <brand>
                <use>admin</use>
                <args>
                    <module>Kv_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
         <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </admin>
</config>